/* GENERAL STYLE */
body {
    color: antiquewhite;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik Microbe', cursive;
    color: antiquewhite;
}

/* FLEX & DISPLAY STYLE */
.dNone         {display: none;}
.dBlock        {display: block;}
.dFlex         {display: flex;}
.justyCenter   {justify-content: center;}
.alignCenter   {align-items: center;}
.justySpaceBtw {justify-content: space-between;}
.justySpaceEve {justify-content: space-evenly;}
.fWrap         {flex-wrap: wrap;}
.gap1em        {gap: 1em;}

/* EXTRA GENERIC STYLE */
.cPointer      {cursor: pointer;}
.textAlignCent {text-align: center;}
.pad1em        {padding: 1em;}
.border        {border: 1px solid white;}

/* MAIN STYLE */
main {
    background-color: rgb(34, 28, 33);
    min-height: 100vh;
    text-align: center;
}

button {
    padding: .2em .8em;
    background-color: #869F76;
}

button:last-child {
    background-color: #FEDDD5;
    color: #869F76;
}

main input {
    color: #869F76;
}

#userAutentication {
    color: #FF6863;
}